# Core functionality - changes here should be rare!
/src/app.py                   @marymagdalene82
/src/backend/database.py      @marymagdalene82
/src/backend/routers/auth.py  @marymagdalene82

# The frontend will need refactored soon to be more object oriented.
/src/static/   @marymagdalene82
